	 {
		margin: 0px;
		padding: 0px;

	}
					

html, body {

		  margin: 0;
		  height: 100%;
		  text-align: center;
		  background-image: url(https://static.vecteezy.com/system/resources/previews/000/570/247/original/blue-geometric-background-vector.jpg);
		  background-size: cover;
		  height: 100%;
		  background-repeat: repeat;



		}
.Box {
	background-color: rgb(173, 216, 230, 0.8) ;
	margin: 50px;
	border-radius: 10px;
	font-family: Newsreader;
}

hr {
      border: 3px dotted #000000;
}